.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #082f4e;
  padding: 3rem 3rem;
  color: #fff;
  gap: 3rem;
}

@media only screen and (max-width: 650px) {
  .features {
    justify-content: flex-start;
  }
}

.features img {
  width: 65px;
  height: 65px;
}
